.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #f6f6f6;
	position: relative;
}

.avatar .dropdown-menu {
	left: -121px;
}

.h-fit {
	height: fit-content;
}

@media only screen and (max-width: 990px) {
	.avatar .dropdown-menu {
		left: 0;
	}
}
